# Dependencies
node_modules/
pnpm-lock.yaml
yarn.lock

# Environment variables
.env
.env.local
.env.*.local

# OS Files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/
coverage/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Optional: Server specific (if not covered above)
server/dist/
server/coverage/
